<nav aria-label="Navigation">
  <a href="{{ with .Site.BaseURL }}{{ . }}{{ end }}" class="project">
    <div class="banner">
      {{ with .Site.Params.logo }}
        <div class="logo">
          <img src="{{ $.Site.BaseURL }}{{ . }}">
        </div>
      {{ end }}
      <div class="name">
        <strong>{{ .Site.Title }}</strong>
      </div>
    </div>
  </a>

  <div class="scrollable">
    <div class="wrapper">
      <ul class="ipfs_link repo">
        <li class="ipfs_io">
          <a href="{{ .Site.Params.ipfs_url }}" target="_blank" title="ipfs.io">
            <i class="icon icon-link"></i> IPFS.IO
          </a>
        <li class="ipfs_localhost">
          <a href="{{ .Site.Params.repo_url }}" target="_blank" title="github">
            <i class="icon icon-link"></i> github
          </a>
        </li>
      </ul>
      <hr>

      <div class="toc">
        {{ if gt (len .Site.Menus.main) 0 }}
        <ul>
          {{ partial "nav" . }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
